<div class="container">
    <div class="row">
        <div class="col">
            <h5>Create a new post</h5>
        </div>
        <div class="col">
            <a href="#!/posts" class="float-right">
                <p>&laquo back</p>
            </a>
        </div>
    </div>
</div>
<hr>
<form action="">
    <!-- titulo -->
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" placeholder="Enter the title of the post" ng-model="$ctrl.post.title">
    </div>

    <div class="row">
        <div class="col">
            <!-- autor -->
            <div class="form-group">
                <label for="">Author</label>
                <select name="" id="" class="form-control" ng-model="$ctrl.post.authorId">
                    <option value="" disabled selected>Choose the author</option>

                    <option ng-repeat="author in $ctrl.authors" value="{{author.id}}">
                        {{author.firstName}} {{author.lastName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col">
            <!-- imagem -->
            <div class="form-group">
                <label for="">Photo</label>
                <input type="file" class="form-control" nv-file-select uploader="$ctrl.uploader">
            </div>
        </div>
    </div>

    <!-- texto -->
    <div class="form-group">
        <label for="">Text</label>
        <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Write your post..." ng-model="$ctrl.post.text"></textarea>
    </div>

    <!-- botões -->
    <button class="btn btn-outline-dark" ng-click="$ctrl.save()">Save</button>
</form>