<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-8 col-sm-10">
            <h5>{{$ctrl.post.title}}</h5>
        </div>
        <div class="col-lg-2 .col-md-4 col-sm-2">
            <a href="#!/posts" class="float-right">
                <p>Posts</p>
            </a>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <br/>
            <p style="font-size: 12px;">Posted by:
                <strong>{{$ctrl.post.author.firstName}} {{$ctrl.post.author.lastName}}</strong>
                on <strong>{{$ctrl.post.created}}</strong>
            </p>
            <hr>
            <img src="{{$ctrl.post.photoUrl}}" class="img-fluid">
            <p style="margin-top: 20px">{{$ctrl.post.text}}</p>
        </div>
    </div>
</div>