<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogApp</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- angular -->
    <script src="/js/libs/angular.min.js"></script>

    <!-- modulo principal -->
    <script src="/js/app.js"></script>
</head>

<body ng-app="blogApp">
    <div ng-controller="postsController" class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">BlogApp</h1>
                <button ng-click="addPost()">Adicionar novo post</button>
                <br><br>
                <ul>
                    <li ng-repeat="post in posts ">
                        {{post.title}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-controller="calculadoraControllers" class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Somar Valores</h1>
                <input type="number" placeholder="Insira o 1 número" ng-model="primeiroNumero">
                <input type="number" placeholder="Insira o 2 número" ng-model="segundoNumero">
                <button ng-click="somarValores()">Somar</button>
                <h5>O resultado da soma é: {{total}}</h5>
            </div>
        </div>
    </div>
</body>

</html>